@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);

  font-size: 62.5%;
}
body {
  font-size: 1.8rem;
  font-family: 'Rubik', sans-serif;
}
a {
  text-decoration: none;
}
.btnBorder {
  padding: 1.1rem 3.2rem;
  border-radius: .5rem;
}
h2 {
  font-size: 3.3rem;
  letter-spacing: .1px;
}
p {
  color: var(--Grayish-Blue);
  margin-bottom: 3.6rem;
  line-height: 2.133rem;
}